@charset "UTF-8";
html{
    margin: 0px;
    border: 0px;

    scroll-behavior: smooth;

    ::-webkit-scrollbar{
        display: none;
    }
}
body{
    margin: 0;
    padding: 0;
}
div#paralax1{
    width: 100%;
    height: 98vh;

    margin: 0px;

    background-image: url(imagens/Background01.jpg);
    background-size: cover;
    background-attachment: fixed;
}
div#paralax1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 60%, #000 100%);
    z-index: 1;
}
header{
    display: inline-block;

    height: 100px;

    padding: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
}
a{
    position: absolute;
    z-index: 8;
}
img{
    width: 50px;

    transition: 0.5s;
    z-index: 8;
}
img:hover{
    width: 60px;

    animation-duration: 1s;
    transition: 0.5s;
    z-index: 8;
}
main h1{
    margin: 0px;
    padding: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    text-align: center;

    color: rgba(245, 250, 255, 0.904);

    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.445);

    position: absolute;
    z-index: 8;

    transition: 1s;
}
main h1:hover{
    font-size: 5em;
    position: absolute;
    z-index: 8;
    transition: 3s;
}
footer{
    display: flex;
    align-items: center;
    
    background-color:rgba(245, 250, 255, 0.904);

    width: 100%;
    height: 300px;
}
footer h2{ 
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
