@charset "UTF-8";
html{
    margin: 0px;
    border: 0px;
}
body{
    width: 100vw;
    height: 100vh;

    margin: 0px;

    background-image: url(imagens/Background01.jpg);
    background-size: cover;

    ::-webkit-scrollbar{
        display: none;
    }
}
header{

    display: inline-block;

    height: 100px;

    padding: 20px;

}
main{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;

}
img{
    width: 50px;

    transition: 0.5s;
}
img:hover{
    width: 60px;

    animation-duration: 1s;
    transition: 0.5s;
}
h1{

    margin: 0px;
    padding: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    text-align: center;

    color: rgba(206, 229, 255, 0.904);

    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.445);
}
